#thumbnail{
    min-height: 500px;
    width: 600px;
    background-color: none;
}

#thumbnail img {
    min-height: 500px;
    width: 600px;
     background-color: none;

}

.carousel{
    height: 600px;
}
.carousel img {
    height: 600px;
}